:root {
    --fontOpenSans: 'Open Sans', sans-serif;
    --fontPtSans: 'PT Sans', sans-serif;

    --colorDark: black;
    --colorDarkBrown: #252323;
    --colorGray: #c1c1c1;
    --colorDarkGray: #8b8b8b;
    --colorSky: #00bac6;

}
